<?xml version="1.0" encoding="UTF-8"?>
<config>
    <resource_directory>
        <name>resources\BG_texts\test</name>
    </resource_directory>
    <components>
        <inverted_index export="true"/>
        <positional_index export="true"/>
        <b_trie export="true"/>
        <user_query export="true"/>
        <edit_distance export="true"/>
    </components>
</config>
